body{
    margin: 0;
}

.first-screen{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}

.lady{
    position: absolute;
    top: 92px;
    right: 0;
}

.header{
    padding-top: 30px;
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header a{
    color: black;
    text-decoration: none;
}

.logo{
    color: #46B1DE;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-start;

}

.dent-name{
    flex-basis: 11rem;
}

.header-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.phone{
    display: flex;
    justify-content: space-between;
    flex-basis: 13%;
}

.professional{
    width: 1150px;
    margin: auto;
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 21px;
}

#prof{
    width: 450px;
    margin-bottom: 0;
}

#treatment{
    margin-top: 0;
    margin-bottom: 0;
    color: #46B1DE;
}

.professional h3{
    margin-top: 0;
    text-transform: none;
    font-size: 13px;
    width: 450px;
}

.call-srv-btn{
    width: 1150px;
    margin: auto auto 180px auto;
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 16px;
}

.call-srv-btn a{
    text-decoration: none;
}

#call-btn{
    display: inline-block;
    width: 70px;
    background-color: #46B1DE;
    text-align: center;
    color: white;
    border: black solid 1px;
    padding: 9px 20px;
    margin-right: 150px;
}

#srv-btn{
    display: inline-block;
    width: 70px;
    background-color: white;
    text-align: center;
    color: #46B1DE;
    border: black solid 1px;
    padding: 9px 35px 9px 20px;
}

.cards{
    width: 1150px;
    height: 97px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    column-gap: 5%;
    padding: 0 5%;
    box-sizing: border-box;
}

.dent-cards{
    border: solid black 1px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;

}

.dent-num{
    color: #46B1DE;
    font-size: 3.5rem;
    flex-basis: 25%;
    justify-content: center;
}

.dent-desc{
    flex-basis: 75%;
    padding-left: 5%;
}

.why{
    margin-top: 70px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.exac{
    color: #46B1DE;
}

.why-desc{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 5px 30%;
}

.expl-card-wrapper{
    display: flex;
    margin: 10px 15%;
    background-color: #46B1DE;
    border-radius: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.expl-card{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex: 0 0 320px;
    margin-top: 10px;
    padding: 1%;
}

.expl-card-num{
    color: #46B1DE;
    font-size: 1.8rem;
}

.expl-card-name{
    color: #46B1DE;
    font-weight: bold;
}